body {
	background-image: url("https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/746951/1360/914/m1/fpnw/wm1/uxaopf6rtjptx8bchxdorjsy4izzdjr1rgmtiyu64jdhse2jcavqfkhp4cffkfuy-.jpg?1446247161&s=4060ae3dd40cdc3159b332871991429c");
}

h1 {
	text-align:center;
}

.crystal {
	margin: auto;
}

